* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header-background,
.main-background {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.quote-background {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.information-background {
    display: flex;
    justify-content: center;
}

.header,
.main,
.information,
.quote,
.sign-up-banner {
    max-width: 1000px;
    width: 100%;
    padding: 0 50px;
}

.main,
.information,
.quote,
.sign-up-background {
    padding: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-links {
    gap: 20px;
    display: flex;
    padding: 0;
    list-style-type: none;
}

.main {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.main-header {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.main-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    padding: 8px 24px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    align-self: flex-start;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information-images {
    display: flex;
    width: 500px;
    gap: 50px;
}

.images-subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images {
    padding: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.subtext{
    margin: 0;
    text-align: center;
}

.quote{
    display: flex;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote-credit{
    align-self: flex-end;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.sign-up-banner{
    display: flex;
    align-self: center;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.call-to-action{
    display: flex;
    flex-direction: column;
}

.banner-main{
    margin:0;
    color: white;
}

.banner-secondary{
    margin:0;
    color: white;
}

.banner-sign-up{
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 8px 20px;
    border-width: 2px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
}